body{padding: 50px;}
.sitemap *{}
.sitemap h2{padding:0 0 5px;font-size:1.8rem; line-height:100%; transition:color 0.5s}
.sitemap a {font-size:13px;  color:#55524d;transition:color 0.5s}
.sitemap > div{ padding-left:10px;}
.sitemap > div:hover * {color:#c2c1bf}
.sitemap > div:hover h2 {color:#ff5400}
.sitemap > div > ul > li > a {display:block; margin:24px 0 15px;}
.sitemap > div > ul > li:hover > a{color:#ff5400}
.sitemap > div > ul > li > ul{border-left:1px solid #3c3933;}
.sitemap > div > ul > li > ul > li{position: relative; padding:0 0 8px 19px; line-height: 100%;}
.sitemap > div > ul > li > ul > li:before{opacity: 0;content:''; position:absolute; left:-1px; top:0; width:1px; height:100%; background:#ff5400; transition:opacity 0.5s;}
.sitemap > div > ul > li > ul > li:hover:before{opacity: 1;}
.sitemap > div > ul > li > ul > li:hover > a{color:#ff5400}
.sitemap > div > ul > li > ul > li > ul{padding:15px 0 0;}
.sitemap > div > ul > li > ul > li > ul a{display:block; padding:8px 0px;font-size:1.1rem;}
.sitemap > div > ul > li > ul > li > ul li{position:relative; z-index:2;padding-left:18px; border-left:1px solid #3c3933; line-height:15px;}
.sitemap > div > ul > li > ul > li > ul > li:before{opacity: 0;content:''; position:absolute; left:-1px; top:0; width:1px; height:100%; background:#ff5400; transition:opacity 0.5s;}
.sitemap > div > ul > li > ul > li > ul > li:hover:before{opacity: 1;}
.sitemap > div > ul > li > ul > li > ul li:hover a{color:#ff5400}


